<ng-container *ngIf="chapter">
  <div class="content center">
    <div class="conductor">
      <div routerLink="/home">Главаная</div>
      <div class="catalog-icon">&rightarrow;</div>
      <div routerLink="/catalog">Каталог</div>
      <div class="catalog-icon">&rightarrow;</div>
      <div routerLink="../">{{chapter.bookName}}</div>
      <div class="catalog-icon">&rightarrow;</div>
      <div class="active">Глава {{chapterNumber + 1}}</div>
    </div>
  </div>
  <aside class="navigate content center">
    <button class="control-button"
            (click)="changeChapter(false)"
            [disabled]="!chapterNumber"
            [class.correct]="!!chapterNumber">Предидушая глава
    </button>
    <button class="control-button correct"
            routerLink="../">Оглавление
    </button>
    <button class="control-button"
            (click)="changeChapter(true)"
            [disabled]="chapterNumber + 1 >= bookInfoService.book.chapterLength">Следуюшая глава
    </button>
  </aside>

  <main class="main content center">
    <div *ngFor="let chapter of chapter.book" class="chapter">
      <div class="chapter-title">Глава {{chapterNumber + 1}} {{chapter.title}} </div>
      <div *ngFor="let page of chapter.content" class="chapter-page">
        <span *ngFor="let line of page; let idx = index" [style.direction]="line.dir">
          {{line.str}}
          <br *ngIf="isBreakLine(line.str)">
        </span>
      </div>
    </div>
    <aside class="navigate inside content center">
      <button class="control-button"
              (click)="changeChapter(false)"
              [disabled]="!chapterNumber"
              [class.correct]="!!chapterNumber">Предидушая глава
      </button>
      <button class="control-button correct"
              routerLink="../">Оглавление
      </button>
      <button class="control-button"
              (click)="changeChapter(true)"
              [disabled]="chapterNumber + 1 >= bookInfoService.book.chapterLength">Следуюшая глава
      </button>
    </aside>
  </main>
</ng-container>

