@import '/src/mixin';
@import "/src/templates";

:host {
  @include flex-hard-control(flex-start, stretch, column);
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-top: 155px;
}

.wrapper {
  width: 100%;
  position: relative;
  flex: 1 1 auto;
}

.b-background {
  @extend .responsive-img;
  object-position: top;
  z-index: -1;
}

.content {
  &.center {
    margin: 0 auto;
  }
}

// ---------- comments screen ----------
.comment {
  width: 100%;
  background: #FFF;
  box-shadow: var(--box-shadow);
  padding: 45px 0 65px;

  com-pagination {
    margin: 50px auto 0;
  }
}

.comment-title,
.comment-subtitle,
.comment-btn {
  color: var(--title-text-color);
  font-family: El Messiri, serif;
  line-height: 97.8%; /* 29.34px */
}

.comment-title {
  font-size: 30px;
  font-weight: 700;
}

.comment-subtitle {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
}

.comment-buttons {
  @include flex-easy-control(space-between, center);
  margin-top: 55px;
}

.comment-btn {
  flex: 0 0 200px;
  height: 48px;
  font-size: 20px;
  font-weight: 600;
  line-height: 97.8%; /* 19.56px */
  border-radius: 8px;
  background: #FFF;
  box-shadow: var(--box-shadow);

  &.active {
    @extend .btn-gradient;
  }
}

.comment-area {
  width: 100%;
  margin-top: 70px;
}

.comment-card {
  width: 100%;

  > & + * {
    margin-top: 50px;
  }
}

.comment-header {
  min-height: 70px;
  @include flex-easy-control(flex-start, center);
}

.comment-favicon {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 8px 11px 17px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;

  > img {
    @extend .responsive-img;
  }
}

.comment-info {
  @include flex-easy-control(space-between, center);
  column-gap: 60px;
  width: 100%;
  min-height: 50px;
  border-radius: 0 18px 4px 18px;
  border: 1px solid #83BEF5;
  padding: 0 25px;
  font-family: "El Messiri", serif;
  color: var(--title-text-color);
  line-height: 97.8%; /* 18.582px */
}

.comment-username,
.comment-type {
  font-weight: bold;
}

.comment-username {
  font-size: 19px;
}

.comment-date {
  font-size: 17px;
  font-weight: 400;
}

.comment-type {
  @include flex-easy-control(center, center);
  flex: 0 1 118px;
  height: 29.68px;
  border-radius: 5px;
  background: #E0E7FF;
  box-shadow: 1px 3px 9px 0 rgba(0, 0, 0, 0.05);
  font-size: 13px;
}

.comment-score {
  @include flex-easy-control(flex-end, center);
  flex: 1 1 auto;
  font-weight: 700;

}

.comment-positive,
.comment-decrement {
  margin-left: 12px;
}

.comment-negative,
.comment-separator {
  margin-left: 3px;
}

.comment-separator {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.57);
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
}

.comment-content {
  white-space: pre-line;
  font-family: Marmelad, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 161.8%; /* 24.27px */
}

.comment-content {
  margin-left: 100px;
}

.comment-subbuttons {
  @include flex-easy-control(flex-start, center);
  column-gap: 20px;
  margin: 20px 0 0 100px;
  color: var(--title-text-color);
  font-family: El Messiri, serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 97.8%; /* 12.714px */
  > button {
    @include flex-easy-control(flex-start, center);
    column-gap: 8px;
    background: transparent;
  }

  span {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .first-card {
    padding-left: var(--space-content);
  }
  .description-card {
    margin-left: var(--space-content);
  }
}
