<div class="book-img">
  <img src="assets/img/authorization/background.svg" alt="">
</div>

<div class="authorization-card">
  <div class="image">
    <img src="assets/img/authorization/background.svg">
  </div>
  <div class="card-logo" routerLink="/home">
    <img src="assets/img/logo.svg" alt="Ranobelib">
  </div>
  <div class="card-content">
    <div class="card-left">
      <h1 class="left-header">Зарегистрироваться</h1>
      <h3 class="left-sub-header" routerLink="/authorization/sign-in">Есть аккаунт?</h3>
      <form class="authorization-form">
        <input class="form-item text-holder" type="text" placeholder="Имя">
        <input class="form-item text-holder" type="email" placeholder="Логин (e-mail)">
        <input class="form-item text-holder" type="password" placeholder="Ваш пароль">
        <div class="checkbox form-item authorization-functionality">
          <div class="form-remember functionality" >
            <input type="checkbox" name="is-remember" id="remember" hidden>
            <label for="remember">&checkmark;</label>
            Запомните меня
          </div>
          <span class="functionality form-forgot">
            Забыли пароль?
          </span>
        </div>
        <button class="submit" type="submit">
          Войты
        </button>
        <div class="features form-item">
          <div class="features-title">Или войти с помощью</div>
          <div class="features-btn">
            <div class="facebook-btn">
              <img src="assets/img/authorization/facebook.svg" alt="facebook">
            </div>
            <div class="vk-btn">
              <img src="assets/img/authorization/vk.svg" alt="vkontakte">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-right">
      <img src="assets/img/authorization/books.svg" alt="books">
    </div>
  </div>
</div>
