<img class="book-img" [src]="imgURL">
<img [src]="imgURL" alt="books cards" class="window-img">
<header class="book-title" [innerHTML]="bookData.name"></header>
<div class="book-background">
  <div class="book-infos">
    <div class="book-characters">
      <div>Автор:</div>
      <div>Страна:</div>
      <div>Состояние:</div>
      <div>Кол. глав: {{'hello'}}</div>
      <div>Жанры:</div>
    </div>
    <div class="book-values">
      <div>{{bookData.author}}</div>
      <div>{{bookData.country}}</div>
      <div>{{bookData.status}}</div>
      <div>{{bookData.chapters}}</div>
      <div><span *ngFor="let genre of bookData.genre">{{genre + ', '}}</span></div>
      <!--      <div>aslkdas jkdalksj dlkajslkdj aslkjdl kajsdlk jasldkja slkdjalksjd lkajsdlk</div>-->
    </div>
    <div class="book-icon">&rightarrow;</div>
  </div>
</div>
