<com-header></com-header>
<img class="c-background" src="assets/img/catalog/background.svg">
<main class="wrapper">
  <section class="c-title">
    <h1 hidden>catalog title</h1>
    <div>Филтруй книги как душе угодна!</div>
    <div>Каталог для любых случаев.</div>
  </section>
  <div class="content">
    <section class="search">
      <h1 hidden>search books</h1>
      <div class="search-title">
        <div class="search-conductor">
          <div routerLink="/home">Главаная</div>
          <div class="catalog-icon">&rightarrow;</div>
          <div class="active" routerLink="/catalog">Каталог</div>
        </div>
        <div class="search-type">
          <img class="type-icon" src="assets/icons/setting.svg" alt="setting icon">
          <div class="type-text">По рейтингу</div>
        </div>
      </div>
      <input type="text"
             #textField
             class="search-area"
             placeholder="Поиск по названию">
    </section>

    <section class="filter">
      <h1 hidden>Filter Books</h1>
      <section *ngIf="bookList$ | async as bookList" class="filter-items">
        <h1 hidden>Filtered items</h1>
        <com-book-card *ngFor="let book of bookList"
                       [book]="book"></com-book-card>
      </section>

    </section>
  </div>
</main>
<com-footer></com-footer>
