:root {
  --content-width: 80vw;
  --title-text-color: #150A41;
  --header-height: 82px;
  --max-content-width: 1170px;
  --box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.16);
  --space-content: calc((100vw - 1170px) / 2);
}
